@import url(https://fonts.googleapis.com/css?family=Raleway);
body, html, .content-title, p {
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #03A9F4;
}

.left {
    float: left;
}

.right {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 9px 16px;
    text-decoration: none;
    font-family: Raleway, sans-serif;
    border-bottom: #333 solid 5px;
    box-sizing: border-box;
}

li a:hover {
    background-color: #333;
}

.textbox input{
    background-color: transparent;
    border: none;
    padding: 5px;
    font-family: Raleway, sans-serif;
    border-bottom: white 2px solid;
    color: white;
    margin-top: 11px;
    margin-right: 5px;
}

.textbox input:focus {
    outline: none;
}

nav ul img:hover {
    
}
